bltin/catf
bltin/catfcmd.o
bltin/expr
bltin/exprcmd.o
bltin/line
bltin/linecmd.o
bltin/nlecho
bltin/nlechocmd.o
bltin/echo
bltin/test
bltin/true
bltin/umask
bltin/stalloc.o
bltin/operators.o
bltin/regexp.o
bltin/\[
bltin/\:
mknodes
mksyntax
log
